<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Admin - Add User</title>
</head>
<body>
<h1>Add New User</h1>

<form th:action="@{/admin/users}" th:object="${user}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" required>
    </div>
    <div>
        <label for="surname">Surname:</label>
        <input type="text" id="surname" th:field="*{surname}" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>
    </div>
    <button type="submit">Add User</button>
</form>

<br>
<a href="/admin/users">Back to User List</a>
</body>
</html>